.details {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;

  &__container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & h2 {
      color: $main-color;
      font-weight: 500;
      padding-top: 15px;
    }

    & p {
      font-size: $desktop-p-size;
      padding-top: 5px;
    }
  }

  &__tags {
    display: flex;
    padding-top: 24px;
    gap: 15px;

    & p {
      font-weight: 700;
      font-size: 14px;
      background-color: $main-color;
      color: $secondary-color;
      border-radius: 10px;
      padding: 5px 35px;
      text-align: center;
    }
  }

  &__container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__host {
      display: flex;
      gap: 10px;

      & p {
        font-size: $desktop-p-size;
        font-weight: 700;
        max-width: 70px;
        color: $main-color;
        text-align: right;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
      }

      & img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }
    }
  }
}

.housing__collapse {
  overflow: hidden;
  display: flex;
  gap: 20px;

  overflow: hidden;

  & > * {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .details {
    flex-direction: column;

    &__container2 {
      flex-direction: row-reverse;
    }

    &__tags {
      padding: 15px 0;
    }
  }

  .housing__collapse {
    flex-direction: column;

    & > * {
      width: 100%;
    }
  }

  @media (max-width: 767.98px) {
    .details {
      padding: 20px 0;

      &__container1 h2 {
        font-size: 18px;
        padding-top: 0;
      }

      &__tags p {
        font-size: 10px;
        padding: 5px 25px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
      }

      &__container2__host p {
        font-size: 12px;
      }

      &__container2__host img {
        width: 32px;
        height: 32px;
      }
    }

    .details__container2__host__star img {
      width: 18px;
    }
  }
}
