.collapse {
  border-radius: 5px;

  &__title {
    background-color: $main-color;
    padding: 10px 20px 10px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
    }
  }
  &__btn {
    border: none;
    background-color: $main-color;
    
    & img {
      transform: rotate(0deg);
      transition: transform 0.2s ease-in-out;
    }
    
    & img.rotate {
      transform: rotate(-180deg);
    }
  }

   &__content {
    background-color: $collapse-background;
    padding: 0 1rem;
    transition: height .3s ease-in-out;

    max-height: 1000px;
    overflow: hidden;

    & p {
      padding: 0;
      font-size: 18px;
    }

    & p:first-child {
      padding-top: 1rem;
    }
    
    & p:last-child {
      padding-bottom: 1rem;
    }
  }
}

@media (max-width: 1024px){
  .collapse__title {
    padding: 10px 20px 10px 10px;;

    & p {
      font-size: 18px;
    }
  }

  // .collapse .collapse__content p{
  //   font-size: 19px;
  // }
}

@media (max-width: 767.98px) {
  .collapse__title {
    padding: 10px 6px 10px 10px;

    & p {
      font-size: 13px;
    }
  }

  .collapse__btn img {
    width: 16px;
    height: auto;
  }

  .collapse .collapse__content p {
    font-size: 12px;
  }
}