// $vertical-gap: 140px;
$main-color: #FF6060;

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 0;

    & h2 {
        color: #FF6060;
        padding: 140px 0;
        font-size: 36px;
        text-align: center;
    }

    & p {
        text-decoration: underline;
        font-size: 18px;
        font-weight: 500;
    }
}

@media (max-width: 1024px){
    .error img {
        width: 24rem;
    }

    .error h2 {
        font-size: 24px;
        padding: 110px 0;
    }
}

@media (max-width: 767.98px){
    .error {
        padding: 100px 0;
        
        & img {
            width: 12rem;
        }
    
        & h2 {
            font-size: 18px;
            padding: 80px 40px;
        }
    
        & p {
            font-size: 14px;
        }
    }

}