.footer {
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 30px;
    margin-top: 50px;

    &__copyright {
        color: white;
        padding-top: 45px;
        font-size: 24px;
    }
}

@media (max-width: 767.98px) {
    .footer__copyright {
        text-wrap: wrap;
        padding-bottom: 65px;
        font-size: 12px;
    }
}