.footer {
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 30px;
    margin-top: 45px; //50px???

    p {
        color: white;
        padding-top: 45px;
        font-size: 24px;
    }
}