// .carousel {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   // width: 100%;
//   // height: 100%;
//   // height: 400px;

//   overflow: hidden;

//   ////////////////////////
//   // &__slider {
//   //   // width: "100%";
//   //   // height: "100%";
//   //   display: flex;
//   //   flex-direction: row;
//   // justify-content: center;
//   // align-items: center;
//   // overflow: hidden;
//   // }
//   /// ////////////////////

//   &__slide {
//     object-fit: cover;
//     width: 100%;
//     height: 400px;
//     display: block;
//     border-radius: 25px;
//     // flex-shrink: 0;
//     // flex-grow: 0;
//     // opacity: 0;
//     transition: transform 300ms ease-in-out;
//     // position: absolute;
//     // top: 0;
//   }
//   .carousel__slide.active {
//     opacity: 1; /* Show active slide */
//   }
//   // & .hidden {
//   //   // display: none;

//   //   // opacity: 0;
//   // }

//   &__btn--prev,
//   &__btn--next {
//     position: absolute;
//     background-color: rgba(0, 0, 0, 0);
//     border: none;
//   }

//   &__btn--prev {
//     left: 5%;
//   }

//   &__btn--next {
//     right: 5%;
//   }
// }
//////////////////////////////////////////////////
.slider {
  width: 100%;
  height: 100%;
  
  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
  }
  
  &__image {
    object-fit: cover;
    width: 100%;
    height: 415px;
    border-radius: 25px;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    transition: translate 300ms ease-in-out;
  }

  &__btn {
  position: absolute;
  border: none;
  background: transparent;
  padding: 0.5rem;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  }
  
  &__btn.left {
    left: 0;
  }
  
  &__btn.right {
    right: 0;
  }
}