* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 100px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: $desktop-h2-size;
}

@media (max-width: 767.98px) {
    .app-container {
        padding: 0 20px;
    }
}