$main-color: #ff6060;
$secondary-color: #fff;
$collapse-background: rgba(246, 246, 246, 0.45);
$cards-background: #f6f6f6;

$img-border: 25px;

$desktop-h2-size: 36px;
$desktop-p-size: 18px;
